@model IEnumerable<FlowerShop_WebApp.Models.Orders.OrderViewModel>
@{
    ViewData["Title"] = "Manage Orders";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered">
    <thead class="table-light">
        <tr>
            <th>Order ID</th>
            <th>Customer Email</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td><code>#@order.OrderId.ToString().Substring(0, 8)</code></td>
                <td>@order.CustomerEmail</td>
                <td>@order.CreatedAt.ToString("g")</td>
                <td>@order.Total.ToString("N0") VND</td>
                <td><span class="badge bg-info text-dark rounded-pill">@order.Status</span></td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-sm btn-outline-primary">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>